<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClinicManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginService</display-name>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.sangita.controller.loginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/loginService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninController</display-name>
    <servlet-name>SigninController</servlet-name>
    <servlet-class>com.sangita.controller.SigninController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninController</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.sangita.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDoctorController</display-name>
    <servlet-name>ViewDoctorController</servlet-name>
    <servlet-class>com.sangita.controller.ViewDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDoctorController</servlet-name>
    <url-pattern>/viewDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserController</display-name>
    <servlet-name>ViewUserController</servlet-name>
    <servlet-class>com.sangita.controller.ViewUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserController</servlet-name>
    <url-pattern>/ViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorController</display-name>
    <servlet-name>AddDoctorController</servlet-name>
    <servlet-class>com.sangita.controller.AddDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorController</servlet-name>
    <url-pattern>/addDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateDoctorController</display-name>
    <servlet-name>updateDoctorController</servlet-name>
    <servlet-class>com.sangita.controller.updateDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDoctorController</servlet-name>
    <url-pattern>/updateDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentController</display-name>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>com.sangita.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/appointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getTimingController</display-name>
    <servlet-name>getTimingController</servlet-name>
    <servlet-class>com.sangita.controller.getTimingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTimingController</servlet-name>
    <url-pattern>/getTiming</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllAppointment</display-name>
    <servlet-name>GetAllAppointment</servlet-name>
    <servlet-class>com.sangita.controller.GetAllAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllAppointment</servlet-name>
    <url-pattern>/getAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctorController</display-name>
    <servlet-name>DeleteDoctorController</servlet-name>
    <servlet-class>com.sangita.controller.DeleteDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctorController</servlet-name>
    <url-pattern>/deleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getDoctorTimingController</display-name>
    <servlet-name>getDoctorTimingController</servlet-name>
    <servlet-class>com.sangita.controller.getDoctorTimingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDoctorTimingController</servlet-name>
    <url-pattern>/doctorTiming</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorTimingController</display-name>
    <servlet-name>AddDoctorTimingController</servlet-name>
    <servlet-class>com.sangita.controller.AddDoctorTimingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorTimingController</servlet-name>
    <url-pattern>/AddDoctorTiming</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorTimingController</display-name>
    <servlet-name>UpdateDoctorTimingController</servlet-name>
    <servlet-class>com.sangita.controller.UpdateDoctorTimingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorTimingController</servlet-name>
    <url-pattern>/UpdateDoctorTiming</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctorTimingController</display-name>
    <servlet-name>DeleteDoctorTimingController</servlet-name>
    <servlet-class>com.sangita.controller.DeleteDoctorTimingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctorTimingController</servlet-name>
    <url-pattern>/DeleteDoctorTiming</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpValidationController</display-name>
    <servlet-name>OtpValidationController</servlet-name>
    <servlet-class>com.sangita.controller.OtpValidationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpValidationController</servlet-name>
    <url-pattern>/OtpValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginController</display-name>
    <servlet-name>DoctorLoginController</servlet-name>
    <servlet-class>com.sangita.controller.DoctorLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginController</servlet-name>
    <url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorPasswordChangeController</display-name>
    <servlet-name>DoctorPasswordChangeController</servlet-name>
    <servlet-class>com.sangita.controller.DoctorPasswordChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorPasswordChangeController</servlet-name>
    <url-pattern>/DPasswordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointmentsController</display-name>
    <servlet-name>DeleteAppointmentsController</servlet-name>
    <servlet-class>com.sangita.controller.DeleteAppointmentsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentsController</servlet-name>
    <url-pattern>/DeleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentStatusUpdateController</display-name>
    <servlet-name>AppointmentStatusUpdateController</servlet-name>
    <servlet-class>com.sangita.controller.AppointmentStatusUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentStatusUpdateController</servlet-name>
    <url-pattern>/StatusUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RescheduleAppointmentController</display-name>
    <servlet-name>RescheduleAppointmentController</servlet-name>
    <servlet-class>com.sangita.controller.RescheduleAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RescheduleAppointmentController</servlet-name>
    <url-pattern>/RescheduleAppointment</url-pattern>
  </servlet-mapping>
</web-app>