@CHARSET "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url('images/back1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 350px;
    padding-right: 400px;
    font-family: 'Balsamiq Sans';
    line-height: 20px;
   
    
}
.container{
    height: 250px;
    width: 460px;
    padding-top: 90px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.green{
    color: green;
    font-size: 30px;
    line-height: normal;
}

